.react-flow__handle {
  height: 24px !important;
  width: 24px !important;
}

.react-flow__handle-right {
  right: -7px !important;
}

.react-flow__handle-left {
  left: -7px !important;
}

.react-flow__handle-top {
  top: -7px !important;
}

.react-flow__handle-bottom {
  bottom: -7px !important;
}
